.meta-data{
    border: 1px solid black;
    border-radius: 0.25rem;
    color: black;
    margin: 0 1em 1em 1em;
    padding: 0.5em;
    min-width: 40em;
    color: var(--color-text);
}

.meta-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pg{
    width: 100%;
    display: flex;
    background-color:var(--bg-nav) ;
    justify-content: flex-end;
    margin-bottom: 1em;
}