.final-graph{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    align-items: top;
    height: 100%;
}

.doughnut{
    width: 25%;
}

.bar{
    width: 80%;
    height: 80%;
}