.url-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.url-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60vw;
  text-align: left;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
}

.url-input label{
  display: inline-block;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.url-input input {
  display: block;
  width: calc(60vw - 2em);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1em;
    height: 2em;
}

.url-form input:focus {
  outline: none;
}

.url-input button {
  font-size: 1em;
  background-color: #107eff;
  color: aliceblue;
  width: 8em;
  height: 2em;
  margin-bottom: 2em;
  border: none;
  cursor: pointer;
  border-radius: .25rem;
}

.url-input button:hover {
  background-color: #126ed8;
}

.header-input {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}

.header-input input {
  border: 1px solid rgb(180, 180, 180);
  padding: 1em;
  box-sizing: border-box;
  font-size: 1em;
  width: 90%;
  margin: 0.5em;
  height: 2em;
}

.header-input th {
  background-color: #333;
  color: white;
  font-size: large;
  max-width: 80%;
}

.header-input th:last-of-type {
  background-color: white;
}

.header-input img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-text {
  margin: 0.5em;
}

.url-input .select-box{
  display: block;
  width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 1em;
    outline: none;
    text-align: left;
    margin-top: 0;
    margin-right: 1em;
}

.selectors{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}