.url-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.url-input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.url-input input {
  box-sizing: border-box;
  width: 65vw;
  height: 2em;
  border: none;
  border-bottom: 1px solid black;
  margin: 1em;
  font-size: 1em;
  max-width: 25em;
}

.url-form input:focus {
  outline: none;
}

.url-input button {
  font-size: 1em;
  background-color: #107eff;
  color: aliceblue;
  width: 8em;
  height: 2em;
  border: none;
  cursor: pointer;
}

.url-input button:hover {
  background-color: #126ed8;
}

.header-input {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
}

.header-input input {
  border: 1px solid rgb(180, 180, 180);
  padding: 1em;
  box-sizing: border-box;
  font-size: 1em;
  width: 90%;
  margin: 0.5em;
  height: 1em;
}

.header-input th {
  background-color: #333;
  color: white;
  font-size: large;
  max-width: 80%;
}

.header-input th:last-of-type {
  background-color: white;
}

.header-input img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-text {
  margin: 0.5em;
}

.select-box{
  text-align: center;
  height: 2em;
  width:100px;
  outline: none;
  font-size:1em;
  border: none;
}