.insight-summary{
    text-align: center;
    width: 100%;
}

.insights-title{
    display: flex;
    justify-content: space-between;
}

.insights-wrapper{
    padding: 1em;
    align-items: center;
    justify-content: center;
}