.modal {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: var(--modal-bg);
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.modal-close {
  background-color: white;
  align-self: flex-end;
  height: 1em;
  width: 1em;
  cursor: pointer;
}
