.pagination{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-item, .page-item-btn{
    display: inline;
}

.page-link-button{
    width:  60px ;
    height: 30px ;
    border: 1px solid rgb(24, 88, 206) ;
    margin: 5px ;
    color: rgb(24, 88, 206);
    background-color: white;
    border-radius: 8px;
}

.page-item button{
    width:  30px ;
    background-color: white;
    border-radius:10px;
    height: 30px ;
    border: 1px solid black ;
    margin: 5px ;
}

.page-item button:hover, .page-item-btn button:hover{
    background-color: #126ed8 ;
    color: white ;
    font-weight: bold ;
}

.active-btn{
    font-weight: bold;  
    color: white;
    background-color: rgb(24, 88, 206) !important;
}