.pagination{
    margin-top: 10px;
    list-style: none;
}

.page-item{
    display: inline;
}

.page-item button{
    width:  30px;
    height: 30px;
    border: 1px solid black;
    margin: 0 5px;
    transition: 0.3s;
}

.page-item button:hover{
    background-color: #126ed8;
    color: white;
    font-weight: bold;
}

.active{
    background-color: #126ed8;
    font-weight: bold;  
    color: white;
}