.styled-table {
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: smaller;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: calc(100% - 2em);
}
.styled-table thead tr {
  background-color: #107eff;
  color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: small;
}
.styled-table td,
.styled-table th {
  padding: 1em;
}
.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.styled-table tbody tr td,
.styled-table thead tr td {
  max-width: 48em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.showcase {
  position: sticky;
  top: 0;
  margin-bottom: -100vh;
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/sprinklr.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #107eff;
}
.toolbar input {
  width: 20em;
  height: 2em;
  border: none;
  border-bottom: 1px solid gray;
  margin: 2em;
  font-size: 1.2em;
}
.toolbar input:focus {
  outline: 0;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar button {
  background-color: #107eff;
  color: #f0f8ff;
  height: 2em;
  margin-right: 1em;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 10em;
  font-size: 1.2em;
}
.right-row {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
