.styled-table {
  border: 1px solid #126ed8;
  box-sizing: border-box;
  border-collapse: collapse;
  font-size: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 80%;
}
.styled-table thead tr {
  background-color: #107eff;
  color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
}

.styled-table thead tr:hover{
  background-color: #126ed8;
}

.styled-table td,
.styled-table th {
  padding: 0.5em;
}
.styled-table tbody tr {
  border-bottom: 1px solid #ddd;
}
.styled-table tbody tr td,
.styled-table thead tr td {
  max-width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.styled-table tbody tr td:first-child{
  max-width: 25em;
}
.showcase {
  position: sticky;
  top: 0;
  margin-bottom: -100vh;
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/sprinklr.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #107eff;
}
.toolbar input {
  width: 20em;
  height: 2em;
  border: none;
  border-bottom: 1px solid black;
  margin: 2em;
  font-size: 1em;
}
.toolbar input:focus {
  outline: 0;
}
.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.toolbar button {
  box-sizing: content-box;
  background-color: #107eff;
  color: #f0f8ff;
  height: 2em;
  margin-right: 1em;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 8em;
  font-size: 0.8em;
  transition: 0.3s ease;
}

.toolbar button:hover{
  background-color: #126ed8;
}

.right-row {
  display: flex;
  flex-direction: row;
  justify-content: right;
}


.data-table{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
  width: 100%;
}

.paginate{
  display: flex;
  width: 80%;
  justify-content: center;
}