table {
    box-sizing: border-box;
    border-collapse: collapse;
    font-size:smaller;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: calc(100% - 2em);
}

table thead tr {
    background-color: #107EFF;
    color: #ffffff;
    text-align: left;
    cursor: pointer;
    font-size:small;
}

table th,
table td {
    padding: 12px 15px;
    
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table thead tr td , table tbody tr td{
  max-width: 10em;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}


table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #107EFF;
}

input{
    box-sizing: border-box;
    width: 20em;
    height: 2em;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 15px;
    margin: 2em;
  }

input:focus{
    outline: none;
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    font-size: 15px;
    background-color: #107EFF;
    color: aliceblue;
    width: 8em;
    height: 2em;
    margin-right: 1em;
    border: none;
    cursor: pointer;
}


.right-row{
    display:flex;
    flex-direction: row;
    justify-content: right;

}